* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Karla", sans-serif;
}

#root {
    min-height: 100vh;
}

main {
    margin: 36px auto;
    padding: 0 40px;
    max-width: 840px;
}

/* ---------------------------------------------------------------------------------------------- */

/* START of Topnav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background: rgb(103, 34, 128);
    background: linear-gradient(90deg, rgba(103, 34, 128, 1) 0%, rgba(166, 38, 211, 1) 100%);
    color: #fff;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.logo > img {
    height: 32px;
}

.logo > h3 {
    font-size: 1.25em;
    margin: 0;
}

.courseTag {
    font-size: 0.75em;
    margin: 0;
}

/* ---------------------------------------------------------------------------------------------- */

/* START of memeGenerator in Meme */

.memeGenerator {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 16px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 12px;
    width: 100%;
}

input {
    padding: 12px;
    border: solid 1px #d5d4d8;
    border-radius: 5px;
    font-size: 0.75em;
    width: 100%;
}

.memeGenerator button {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: rgb(103, 34, 128);
    background: linear-gradient(90deg, rgba(103, 34, 128, 1) 0%, rgba(166, 38, 211, 1) 100%);
    color: #fff;
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */

/* START of memeSect in Meme */

.memeSect,
.memeContainer {
    width: 100%;
}

.memeSect {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    position: relative;
    margin-top: 36px;
}

.meme {
    display: block;
    width: 100%;

    object-fit: contain;
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000,
        2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
